<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Ernährungsapplikation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

<body> 


<header>
    <div class="container">
        <div id="branding">
        <a href="startseite.html" class="button_titel">Ernährungsapplikation</a>
        </div>

<nav>
    <ul>
        <!-- Navigation-->
        <li><a href="berechnung">BMI Rechner</a></li>
        <li class="current">
         <a href="{{ url_for('auswertung') }}">Auswertung</a></li>
    </ul>               
</nav>  
   
</div>
</header> 



<div class="berechnung">
    {{ untergewicht }}
    {{ normalgewicht }}
    {{ übergewicht }}
    {{ fettleibigkeit }}
    {{ allgemein }}
<br><br><br>
</div>


{% for key, value in aktivitaeten.items()%}

{{key}}
{{value}}
{%endfor%}


<div>
{{aktivitaeten}}
</div>




</body>
</html>