<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Ernährungsapplikation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

<body> 


<header> <!--Button Ernährungsapplikation, von dort kommt man auf die Startseite-->
    <div class="container">
        <div id="branding">
        <a href="startseite" class="button_titel">Ernährungsapplikation</a>
        </div>

<nav>
    <ul>
        <!-- Navigation-->
        <li><a href="berechnung">BMI Rechner</a></li>
        <li class="current">
         <a href="{{ url_for('auswertung') }}">Auswertung</a></li>
    </ul>               
</nav>  
   
</div>
</header> 


<!--Tabelle mit den Daten: Eingabe, Gewicht, Name-->
<table class="centered thick-border" style="font-family: Arial, Helvetica, sans-serif; color: black; font-size: 20px; padding-left: 100px;width:70%;padding-top: 150px;">
    <tr>
    <tr>

            <th ALIGN="LEFT" style="text-decoration: underline">Eingaben</th>
            <th ALIGN="LEFT" style="text-decoration: underline">Gewicht in kg</th>
            <th ALIGN="LEFT" style="text-decoration: underline">Name</th>
    </tr>

    {% for i, (n, p) in nummeriert%} <!--(n, p) bedeutet, dass enumerate durch keys und values-->

        <tr>
            <td ALIGN="LEFT">{{i}}</td>
            <td ALIGN="LEFT">{{p}}</td>
            <td ALIGN="LEFT">{{n}}</td>
        </tr>

    {% endfor %}
</tr>
</table>




</body>
</html>