
<div class="footer">
    <h4>Yaren Bayraktar<br>Scherlerweg 30<br>9445 Rebstein SG<br>
          <a href="mailto:yaren.bayraktar@stud.fhgr.ch">yaren.bayraktar@stud.fhgr.ch</a> </h4>
        <div class="icons">  
         <a href="https://www.foodspring.ch/gesunde-ernaehrung" target="_blank"><i class="fas fa-apple-alt" title="Gesunde Ernährung"></i></a>
        <a href="https://www.yazio.com/de/bmi-rechner" target="_blank" title="BMI Rechner"><i class="fa fa-calculator"></i></a>
        <a href="https://www.wandern.ch/" target="_blank" title="Wandern"><i class="fas fa-walking"></i></a> 
    </div>
    
</div>

</body>
</html>