<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Ernährungsapplikation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
 
<body>


<header>
    <div class="container">
        <div id="branding">
        <a href="startseite.html" class="button_titel">Ernährungsapplikation</a>
        </div>

        
<nav>
    <ul>
        <!-- Navigation-->
        <li class="current">
        <a href="index.html">BMI Rechner</a></li>
        <li><a href="auswertung.html">Auswertung</a></li>
    </ul>               
</nav>


</div>
        
 
</header>

<h1> BMI Rechner </h1>

<p>

<div class="main">       <!--Formular BMI Rechner-->
<form method="POST">

    Wie viel wiegst du?

 <br>
 <br>                <!--Das Attribut name ist hier der Schlüssel (key)-->

     <input type="text" name="gewicht" placeholder="Bitte in kg eingeben">

 <br>
 <br>

    Wie gross bist du?

 <br>
 <br>

    <input type="text" name="grösse" placeholder="Bitte in cm eingeben">

<br>
<br>

    <button type="submit">BMI berechnen</button>

</form>

</p>

</div>


<br>

<div class="berechnung">

    <!--Jinja2 Logik / BMI Berechnung + Auswertung-->

    {% if bmi <=18.5 %}
        <p>{% print("Du bist untergewichtigt. Dein persönlicher BMI ist: {}.".format(bmi)) %}</p>

    {% elif (bmi >=18.5) and (bmi <=24.9) %}
         <p>{% print("Du hast eine Normalgewicht. Dein persönlicher BMI ist: {}.".format(bmi)) %}</p>

    {% elif (bmi >=25) and (bmi <=29.9) %}
         <p>{% print("Du bist übergewichtigt. Dein persönlicher BMI ist: {}.".format(bmi)) %}</p>

    {% elif bmi >=30 %}
         <p>{% print("Du leidest unter Fettleibigkeit (Adipositas). Dein persönlicher BMI ist: {}.".format(bmi)) %}</p>

    {% else %}
        <p>{% print("Dein persönlicher BMI ist: {}.".format(bmi)) %}</p>

    {% endif %}

</div>


</body>

</html>