<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Ernährungsapplikation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

<body>


<header>
    <div class="container">
        <div id="branding">
        <a href="startseite.html" class="button_titel">Ernährungsapplikation</a>
        </div>
        
<nav>
    <ul>
        <!-- Navigation-->
        <li class="current">
            <a href="{{ url_for('berechnung') }}">BMI Rechner</a></li>
        <li><a href="auswertung">Auswertung</a></li>
    </ul>               
</nav>

</div>
</header>



<h1> BMI Rechner </h1>

<p>
<div class="main">       <!--Formular BMI Rechner-->
<form method="POST">

    Wie ist dein Name?
<br><br>
 <input type="text" name="name" placeholder="Bitte den Namen eingeben">
<br><br>
    Wie viel wiegst du?
 <br><br>                <!--Das Attribut name ist hier der Schlüssel (key)-->
     <input type="text" name="gewicht" placeholder="Bitte in kg eingeben">
 <br><br>
    Wie gross bist du?
 <br><br>
    <input type="text" name="grösse" placeholder="Bitte in cm eingeben">
<br><br><br>
    <button type="submit">BMI berechnen</button><br>  
</form>
</div>
</p>


<!--Hier ist die Auswertung ersichtlich-->
<div class="berechnung">
    {{ untergewicht }}
    {{ normalgewicht }}
    {{ übergewicht }}
    {{ fettleibigkeit }}
    {{ allgemein }}
<br><br><br>
</div>




</body>
</html>