<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Ernährungsapplikation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='startseite.css') }}">
   

<body>

<!--Quelle Bild: https://www.diabetes.co.uk/bmi/why-is-bmi-important.html-->

<img src="{{url_for('static', filename='bmirechner.jpg')}}"
    alt="Startbild" style="height: 400px; width: 100%;">

    
<header id="showcase">
    <h1>Herzlich Willkommen</h1>
    <p>zur Webapplikation von Yaren Bayraktar</p>
    <a href="index.html" class="button">Hier geht es weiter...</a>

</header>   



</body>
</head>
</html>